<!DOCTYPE html>
<html>
<body style="text-align: center;">

    <h1>Solution Checker for 600 cell</h1>
    <form class="grid" action = "/result" method = "POST">
        
        <!--input for the vertices-->
        <label for = "vertArr" >Enter the list of Vertices separated by commas:</label><br>
        <input type = "text" name = "vertArr" id = "vertArr" required><br>

    <!--<label for = "faceMatrix" >Enter the Face Matrix :</label><br>
        <input type = "text" name = "faceMatrix" id = "faceMatrix" required><br><br>
    --> 
        <p>Select What face matrix to check on:</p>
        <!--Choosing which face matrix-->
        <label for = 600cellMatrix>600 Cell</label>
        <input type = "radio" name = "whichFaceMatrix" id = "600cellMatrix" value = "600cell" required> 
        <label for = 120cellMatrix>| 120 Cell</label>
        <input type = "radio" name = "whichFaceMatrix" id = "120cellMatrix" value = "120cell" required>

        <br><br>
        <!--Submit button-->
        <input type = "submit" class = "file_submit">


        {% if isSol %}
        <h3 style="color: rgb(0, 255, 0);">It is a solution</h3>
        {% elif not isSol %}
        <h3 style="color: rgb(255, 0, 0);">Not a solution </h3>
        {% endif %}
        
    </form>
    <a href="https://solution-checker.herokuapp.com/uploadmatrix">Upload your own matrix</a>
</body>
</html>